<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        <li class="nav-home {% if page.current == 'home' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}">Home</a></li>
        <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}about">About</a></li>
        <li class="nav-projects {% if page.url contains 'projects' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}projects">Projects</a></li>
        <li class="nav-music {% if page.url contains 'music' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}music">Music</a></li>
    </ul>
    <a class="subscribe-button icon-feed" href="https://www.youtube.com/channel/UCTicALvZfIvAwF7kQ6rSd1w">Subscribe</a>
</div>
<span class="nav-cover"></span>
